@tailwind base;
@tailwind components;
@tailwind utilities;
@import "src/styles/styles.scss";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}


body {
  //color: rgb(var(--foreground-rgb));
  //background: rgb(var(--background-start-rgb));
}


.gradient-bg {
  background: linear-gradient(90deg, #ffffff 50%, #e9d8f4 100%);
}

.white-gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.60) 50%, rgba(255, 255, 255, 0.00) 84.21%);
}
